!!! 1.0 Strict
%html{:xmlns => 'http://www.w3.org/1999/xhtml', :"xml:lang" => 'en', :lang => 'en'}
  
  %head
    
    %title Ramble &mdash; Matt Todd's Blog
    
    %meta{:name => 'content-type', :content => 'text/html;charset=utf-8'}
    %meta{:name => 'author', :content => 'Matt Todd (maraby.org)'}
    %meta{:name => 'description', :content => "Matt Todd's Blog"}
    %meta{:name => 'keywords', :content => 'ruby, json, framework, soa, http, halcyon'}
    
    - require_js 'jquery-1.2.3.min.js', 'application'
    = include_required_js
    
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/master.css', :media => 'screen'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/application.css', :media => 'screen'}
    
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/blueprint/screen.css', :media => 'screen'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/blueprint/print.css', :media => 'print'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/blueprint/plugins/fancy-type/screen.css', :media => 'screen, projection'}
    
  %body
    
    #container
      
      #flash{:style => 'display:none;'}
        
        %p.message
        
      #header
        #title.span-15
          %h1 Maraby.org
          %h2.alt Matt Todd's Blog
          
        #menu.span-7.last
          
          = partial('shared/menu')
          
      %hr
      
      #body
        
        - puts catch_content(:for_layout)
        
      #footer
        
        %hr.space
        %hr
        %p.alt.prepend-1
          Copyright (C) 2008 <a href="http://maraby.org/contact.html">Matt Todd</a>, all rights reserved.
          
  %head
    
    %script{:lang => 'text/javascript'}
      
      = "show_flash('#{@flash_for_display[:notice]}', 'notice')" if @flash_for_display[:notice]
      = "show_flash('#{@flash_for_display[:warning]}', 'notice')" if @flash_for_display[:warning]
