<div id="post-<%= post.id %>" class="post span-13 prepend-1 colborder">
  <div class="body"><%= textilize(post.intro) rescue '' %></div>
  <% unless post.body.empty? %>
    <div class="alt">Read <%= link_to 'the rest of the post', url(:post, post.id) %>.</div>
  <% end %>
  <hr class="space" />
</div>

<div id="text" class="span-7 last">
  <h3 class="title"><%= link_to post.title, url(:post, post.id) %></h3>
  <div class="meta-data">
    <span class="created">Posted <%= relative_date(post.created_at) %></span>
    <span class="author">by <%= post.author.name rescue 'anonymous' %></span>
  </div>
  <div class="comments">
    <%= link_to '(View) Comments', url(:post, post.id)+'#disqus_thread' %>
  </div>
  <hr class="space" />
</div>

<hr />
