<div id="post-<%= @post.id %>" class="post">
  <h1 class="title"><%= @post.title %></h1>
  <span class="created">Posted <%= relative_date(@post.created_at) %></span>
  <span class="author">by <%= @post.author.name rescue 'anonymous' %></span>
  
  <hr class="space" />
  <hr />
  
  <div class="body">
    <%= textilize(@post.intro) if @post.intro %>
    <%= textilize(@post.body) if @post.body %>
    <hr class="space" />
  </div>
</div>

<hr />

<%= partial('shared/disqus_comments_count') %>

<hr />

<p>Go back <%= link_to 'home', url(:home) %>.</p>
